### Libraries

In [531]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import DataTime as dtm

ModuleNotFoundError: No module named 'DataTime'

In [501]:
df = pd.read_csv("data/attacks.csv", encoding='cp1252')

In [502]:
df.isna() #checks if there's still rows with empty cells

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25719,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25720,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25721,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25722,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [503]:
df.dropna(axis=0, how='all') #drop rows of data that are empty

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [504]:
df.columns=df.columns.str.capitalize().str.replace(' ','-')
df.columns= df.columns.str.rstrip(' ')

In [505]:
df.sample()

,Case-number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex-,...,Species-,Investigator-or-source,Pdf,Href-formula,Href,Case-number.1,Case-number.2,Original-order,Unnamed:-22,Unnamed:-23
4581,1947.04.00,Apr-1947,1947.0,Provoked,PACIFIC OCEAN,NaN,Off Central American coast at 8N.79W,Moving shark from tuna vessel when boat rolled...,Charles Kaufmann,M,...,NaN,C. Kaufmann; S. Springer,1947.04.00-Kaufmann.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1947.04.00,1947.04.00,1722.0,NaN,NaN

In [506]:
lst = list(df.columns)
print(lst)

['Case-number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex-', 'Age', 'Injury', 'Fatal-(y/n)', 'Time', 'Species-', 'Investigator-or-source', 'Pdf', 'Href-formula', 'Href', 'Case-number.1', 'Case-number.2', 'Original-order', 'Unnamed:-22', 'Unnamed:-23']

In [507]:
df['Species-'] = df['Species-'].str.rstrip('-')

In [508]:
#fill NaN values from species column with 'Unknown'
df['Species-'].fillna('Unknown', inplace=True)

In [509]:
#fill NaN values from activity column with 'Unknown'
df['Activity'].fillna('Unknown', inplace=True)

In [510]:
# Fix capitalization of fatal(y/n) 
df['Fatal-(y/n)'] = df['Fatal-(y/n)'].str.upper()

In [511]:
df['Fatal-(y/n)'] = df['Fatal-(y/n)'].str.strip(" ")

In [512]:
# if column not Y or N, assign as UNKNOWN
df['Fatal-(y/n)'] = np.where((df["Fatal-(y/n)"] == "2017") | (df["Fatal-(y/n)"] == "M"), "UNKNOWN", df["Fatal-(y/n)"])
df["Fatal-(y/n)"].value_counts()

N          4301
Y          1389
UNKNOWN      73
Name: Fatal-(y/n), dtype: int64

In [513]:
df.rename({'Species-': "Species", "Sex-": "Sex"}, axis=1, inplace=True)

In [514]:
df.sample()

,Case-number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator-or-source,Pdf,Href-formula,Href,Case-number.1,Case-number.2,Original-order,Unnamed:-22,Unnamed:-23
4625,1945.03.06,06-Mar-1945,1945.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Scottburgh,Walking,David Drummond,M,...,Thought to involve a Zambesi shark,"D. Drummond, M. Levine, GSAF",1945.03.06-Drummond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1945.03.06,1945.03.06,1678.0,NaN,NaN

In [515]:
df.Activity.value_counts()

Unknown                                   19968
Surfing                                     971
Swimming                                    869
Fishing                                     431
Spearfishing                                333
                                          ...
Playing with a frisbee in the shallows        1
Sinking of the ferryboat Dumaguete            1
Wreck of the Storm King                       1
Feeding mullet to sharks                      1
Wreck of  large double sailing canoe          1
Name: Activity, Length: 1532, dtype: int64

In [516]:
#df2 = df['activity'].value_counts().apply(lambda x: "Other" if x < 10 else x)
#df2

In [517]:
#df['activity'].apply(lambda x: "Other" if x < 10 else x)
#d = df.activity.value_counts().to_dict()
#df['activity'] = df['activity'].map(lambda x : x  if d[x] > 10 else 'Other')

In [518]:
#df.activity.value_counts()

In [519]:
df.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [520]:
#consistent capitalization
df['Activity'] = df['Activity'].str.capitalize()
df['Type'] = df['Type'].str.capitalize()
df['Country'] = df['Country'].str.capitalize()
df['Species'] = df['Species'].str.capitalize()

In [521]:
#fill NaN values from columns
#df['species'].fillna('Unknown', inplace=True)
#df['country'].fillna('Unknown', inplace=True)
#df['type'].fillna('Unknown', inplace=True)

In [522]:
df.dropna(subset=["Year"], inplace=True)

In [523]:
df.sample(10)

,Case-number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator-or-source,Pdf,Href-formula,Href,Case-number.1,Case-number.2,Original-order,Unnamed:-22,Unnamed:-23
1871,2002.04.02,02-Apr-2002,2002.0,Unprovoked,Usa,Florida,"New Smyrna Beach, Volusia County",Wading,male,M,...,3' shark,"S. Petersohn, GSAF",2002.04.02-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.04.02,2002.04.02,4432.0,NaN,NaN
3805,1962.07.28,28-Jul-1962,1962.0,Unprovoked,Usa,South Carolina,"Off Hilton Head, Beaufort County",Standing,Robert Stein,M,...,1.8 m to 2.4 m [6' to 8'] shark,R. Stein,1962.07.28-Stein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.07.28,1962.07.28,2498.0,NaN,NaN
1319,2007.10.06,06-Oct-2007,2007.0,Unprovoked,Usa,Florida,"Playalinda Beach, Canaveral National Seashore,...",Surfing,E.H.,M,...,"Blacktip shark, 5'",E. H.,2007.10.06-EH.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.10.06,2007.10.06,4984.0,NaN,NaN
1255,2008.05.24.b,24-May-2008,2008.0,Sea disaster,Bahamas,Grand Bahama Island,Off West End,Sea disaster,unknown,M,...,Tiger sharks in area,Associated Press,2008.05.24.b-BahamasBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.05.24.b,2008.05.24.b,5048.0,NaN,NaN
6021,1852.02.26,26-Feb-1852,1852.0,Sea disaster,South africa,Western Cape Province,Danger Point,Wreck of the steamship birkenhead,NaN,M,...,White sharks,"D. Davies, pp.182-184; M. Levine, GSAF",1852.02.26-Birkenhead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1852.02.26,1852.02.26,282.0,NaN,NaN
1256,2008.05.24.a,24-May-2008,2008.0,Unprovoked,Mexico,Guerro,Playa Linda,Surfing,Bruce Grimes,M,...,3 m shark,Associated Press,2008.05.24.a-Grimes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.05.24.a,2008.05.24.a,5047.0,NaN,NaN
3708,1964.01.18,18-Jan-1964,1964.0,Unprovoked,Australia,Western Australia,Hamelin Bay,Freediving,Frank Hastie,M,...,Wobbegong,"G.P. Whitley, citing Sydney Morning Herald, 1/...",1964.01.18-Hastie.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.01.18,1964.01.18,2595.0,NaN,NaN
4332,1954.07.28,28-Jul-1954,1954.0,Unprovoked,Singapore,NaN,Singapore Harbor,Closed circuit diving (submerged). diving to r...,"C.B. Larkin, a Royal Navy diver",M,...,Unknown,"New York Times, 7/29/1954; V.M. Coppleson (195...",1954.07.28-BritishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1954.07.28,1954.07.28,1971.0,NaN,NaN
4761,1940.12.10,10-Dec-1940,1940.0,Provoked,Australia,Northern Territory,Darwin,Collecting fish in military trap when bitten b...,Private. Michael Garten,M,...,Unknown,"V.M. Coppleson; G.P. Whitley (1951), p. 192",1940.12.10-Garten.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1940.12.10,1940.12.10,1542.0,NaN,NaN
5905,1871.05.22.R,Reported 22-May-1871,1871.0,Unprovoked,Sri lanka,Eastern Province,Trincomalee,Bathing,An officer from H.M. Forte,M,...,Unknown,"The Argus, 5/22/1871",1871.05.22.R-Trincomalee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1871.05.22.R,1871.05.22.R,398.0,NaN,NaN

In [524]:
df['Year'] = df['Year'].astype(str)

In [525]:
df['Year'].unique

<bound method Series.unique of 0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: Year, Length: 6300, dtype: object>

In [526]:
df['Year'] = df['Year'].map(lambda x: x.rstrip('.0'))

In [527]:
df["Year"] = df['Year'].apply(lambda x: "" if len(x) != 4 else x)

In [528]:
df["Year"].unique()

array(['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '',
       '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002',
       '2001', '1999', '1998', '1997', '1996', '1995', '1984', '1994',
       '1993', '1992', '1991', '1989', '1969', '1988', '1987', '1986',
       '1985', '1983', '1982', '1981', '1979', '1978', '1977', '1976',
       '1975', '1974', '1973', '1972', '1971', '1968', '1967', '1966',
       '1965', '1964', '1963', '1962', '1961', '1959', '1958', '1957',
       '1956', '1955', '1954', '1953', '1952', '1951', '1949', '1948',
       '1848', '1947', '1946', '1945', '1944', '1943', '1942', '1941',
       '1939', '1938', '1937', '1936', '1935', '1934', '1933', '1932',
       '1931', '1929', '1928', '1927', '1926', '1925', '1924', '1923',
       '1922', '1921', '1919', '1918', '1917', '1916', '1915', '1914',
       '1913', '1912', '1911', '1909', '1908', '1907', '1906', '1905',
       '1904', '1903', '1902', '1901', '1899', '1898', '1897', '1896',
       '1895', '1894', '1893', '1892', '1891', '1889', '1888', '1887',
       '1886', '1885', '1884', '1883', '1882', '1881', '1879', '1878',
       '1877', '1876', '1875', '1874', '1873', '1872', '1871', '1869',
       '1868', '1867', '1866', '1865', '1864', '1863', '1862', '1861',
       '1859', '1858', '1857', '1856', '1855', '1853', '1852', '1851',
       '1849', '1847', '1846', '1845', '1844', '1842', '1841', '1839',
       '1837', '1836', '1835', '1834', '1832', '1831', '1829', '1828',
       '1827', '1826', '1825', '1823', '1822', '1819', '1818', '1817',
       '1816', '1815', '1812', '1811', '1808', '1807', '1805', '1804',
       '1803', '1802', '1801', '1797', '1792', '1791', '1788', '1787',
       '1786', '1785', '1784', '1783', '1779', '1776', '1771', '1767',
       '1764', '1758', '1753', '1751', '1749', '1755', '1748', '1742',
       '1738', '1733', '1723', '1721', '1703', '1642', '1638', '1637',
       '1617', '1595', '1555', '1554', '1543'], dtype=object)

In [470]:
#df["Case-number"] = df['Case-number'].apply(lambda x: "" if x != 0.0 else x)
#df["Case-number"].unique()

array([''], dtype=object)

In [529]:
df.sample(10)

,Case-number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator-or-source,Pdf,Href-formula,Href,Case-number.1,Case-number.2,Original-order,Unnamed:-22,Unnamed:-23
431,2015.04.25,25-Apr-2015,2015,Unprovoked,Australia,South Australia,Fishery Bay,Surfing,Chris Blowes,M,...,"White shark, 6 m","The Advertiser, 4/25/2015",2015.04.25-Blowes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.04.25,2015.04.25,5872.0,NaN,NaN
5943,1864.07.25,25-Jul-1864,1864,Unprovoked,Spain,Eastern Catalona,Badalona,Bathing,male,M,...,Unknown,"C. Moore, GSAF",1864.07.25-Badalona-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1864.07.25,1864.07.25,360.0,NaN,NaN
2737,1988.04.24,24-Apr-1988,1988,Unprovoked,Usa,California,"North of Morro Rock, San Luis Obispo County",Surfing,Mark Rudy,M,...,White shark,"J. McCosker & R.N. Lea; R. Collier, p.102",1988.04.24-Rudy_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1988.04.24,1988.04.24,3566.0,NaN,NaN
4069,1959.08.15.b,15-Aug-1959,1959,Invalid,Usa,Florida,"Panama City, Bay County",Diving,Gary Seymour,M,...,Invalid,"H. D. Baldridge (1994), SAF Case #440 listed i...",1959.08.15.b-Seymour.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.08.15.b,1959.08.15.b,2234.0,NaN,NaN
2164,1998.09.16.R,Reported 16-Sep-1998,1998,Unprovoked,South africa,Eastern Cape Province,Kowie River,Fishing / washing bait off hands,Grant Rielly,M,...,Unknown,"Daily Dispatch, 9/16/1998",1998.09.16.R-Rielly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.09.16.R,1998.09.16.R,4139.0,NaN,NaN
4288,1955.08.00.c,Aug-1955,1955,Unprovoked,North atlantic ocean,Open sea,NaN,Treading water,Wolfgang Emrich,M,...,Unknown,"H.D.Baldridge (1994), SAF Case #1489",1955.08.00.c-NV-Emrich.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.08.00.c,1955.08.00.c,2015.0,NaN,NaN
1181,2008.12.27.b,27-Dec-2008,2008,Boating,Australia,New South Wales,"Long Reef, north of Sydney",Kayaking,Steve Kulcsar,M,...,"White shark, 4m to 5m","Canberra Times, 12/28/2008",2008.12.27.b-Kulcsar.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.12.27.b,2008.12.27.b,5122.0,NaN,NaN
1237,2008.07.09,09-Jul-2008,2008,Unprovoked,Usa,North Carolina,"Emerald Isle, Carteret County",Swimming,Bailleigh Foster,F,...,Unknown,"C. Creswell, GSAF",2008.07.09-Foster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.07.09,2008.07.09,5066.0,NaN,NaN
3824,1962.05.00.R,May 1962,1962,Boat,Fiji,Viti Levu,Near Suva,Fishing,17' fishing boat; occupants 2 men,NaN,...,Unknown,"Yorkshire Evening News, 5/5/1962",1962.05.00-Suva-Fiji.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.05.00.R,1962.05.00.R,2479.0,NaN,NaN
5922,1868.05.13,13-May-1868,1868,Unprovoked,India,Hoogly River,Ghat,Standing,male,M,...,Identified as c. gangeticus by dr. j. fayrer,"J. Fayrer, M.D.",1868.05.13-Hindoo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.05.13,1868.05.13,381.0,NaN,NaN